@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <div class="border">
        <div>
            봇이 사용할 권한이 필요합니다.
        </div>
        <div>
            - 채널 에디트 권한
        </div>
        <div>
            - 스트리머 계정
        </div>
        <div>
            <button class="btn" style="background-color:#9147FF; color:white;">트위치 아이디로 로그인</button>
        </div>
    </div>
</div>
