@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <div class="border">
        <div>
           봇 활동 준비중~
        </div>
        <div>
            <form method="post" href="/member/startbot">
                <input name="msg" type="text" />
                <button type="submit">시작</button>
            </form>
        </div>
    </div>
</div>
