@{
    ViewData["Title"] = "Index Page";
    var Result = (int)ViewData["result"];
}
<div class="text-center">
    <div class="border">
        <h2>봇 채널 입장</h2>
        <div>
        </div>
        @if (Result == 1)
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">봇 활동</label>
            </div>
        }
        else
        {
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">봇 활동</label>
            </div>
        }
        <div>
            <br>봇 이용방법<br />
            <p>1.위의 입장 버튼을 누른다.</p>
            <p>2.트위치 채널창에서 관리자 권한을 준다.</p>
            <p>/mod jongwoonlee</p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    // 누르는 순간 판단하므로 이벤트 시점은 눌린 뒤의 시점이다. check 상태에서 누른동작이면 checked false가 될것
    $('input:checkbox[id="flexSwitchCheckChecked"]').click(function () {
        var v = $(this).is(":checked")
        console.log(v);
        var botInUse = $(this).is(":checked") ? 1 : 0
        console.log(botInUse);
        $.ajax({
            type: "post",
            url: "/member/startbot",
            headers: {
                "Content-type": "application/json;",
            },
            data: JSON.stringify({
                BotInUse : botInUse
            }),
            success: function (result) {
                if (result) {
                    if (botInUse == 1) {
                        $(this).prop("checked", true);
                    } else {
                        $(this).prop("checked", false);
                    }
                }
            }
        });

    })


</script>